body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.half-width {
    width: 50%;
    margin-top: 70px;
    margin-left: 50px;
    padding: 30px;
}

.half-width img {
    width: 50%;

}

h1 {
    font-size: xx-large;
}

.Name {
    color: rgb(255, 153, 0);
}

.flexible-container {
    display: flex;
}

.link-button {
    background-image: linear-gradient(orange, red);
    border-radius: 40px;
    text-decoration: none;
    padding: 15px 40px;
    color: antiquewhite;
    font-weight: 900;
}

.top-banner {
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;

}

.mid-banner {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}